/*GENERAL*/
    :root {/* ES MAS FACIL PARA GENERALIZAR COLORES */
      --primario: #82A6A2;
      --secundario: #D9A441;
      --secundario-oscuro: #c59741;
      --acento: #E3B6A4;
      --blanco: #FFFFFF;
      --gris-claro: #F5F5F5;
      --gris-medio: #BDBDBD;
      --gris-oscuro: #4A4A4A;
      --gris-medio-transparente:#82a6a2df ;    }

    body {
      margin: 0;
      font-family: 'Nunito', sans-serif;
      background: var(--gris-claro);/*DE ESTA MANERA LO LLAMAMOS AL COLOR*/
      color: var(--gris-oscuro);    }




/*MENU DE ARRIBA*/
  header {
    background-color: var(--blanco);/*fondo del menu*/
    display: flex;
    justify-content: space-between;/*espacio entre elementos*/
    align-items: center;
    padding: 1rem;
    color: var(--primario);
    position: sticky;
    top: 0;/*es vital para que funcione el sticky*/
    border-bottom: 2px solid var(--gris-medio);/*borde del menu*/ 
    z-index: 1000; /*PARA QUE QUEDE ARRIBA EL MENU*/}
  
    /* ESTILO DE IMAGEN LOGO */
 .logo img {
    height: 120px;       
    width: AUTO;
    border-radius: 50%;
    object-fit: contain;}
  
 /*ESTILO DE LOS LINKS DEL MENU*/
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;/*espaciado*/}
  
  .nav-links a {
    color: var(--gris-oscuro);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
    font-family: 'Montserrat';  }
  
    /*COLOR DE TRANSICION*/
  .nav-links a:hover {
    color: var(--secundario);  }
  
  /* KEBAB PARA CELULARES */
  .kebab-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;  }
  
  /* Menu overlay (desplegable) para dispositivos móviles */
  .overlay {
    display: none;
    position: fixed;
    top: 64px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 64px);
    background-color: var(--gris-medio-transparente) ;/*PEGUNTAR AL PROFE OPINION DEL COLOR*/
    color: var(--gris-claro);
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    z-index: 1000;  }
  
  .overlay.active {
    display: flex;   }
  
  .overlay ul {
    list-style: none;
    text-align: center;  }
  
  .overlay a {
    display: block;
    color:var(--gris-claro);
    font-size: 1.5rem;
    margin: 1rem 0;
    text-decoration: none;  }

  .overlay li:hover {
    background-color: var(--primario);}
   
  /*ESTILO BOTON DONAR*/  
   .boton_donar {
    background: var(--secundario);
    padding: 10px 20px;/*TAMAÑO DE BOTON*/
    border-radius: 8px;
    color: var(--blanco);
    font-weight: bold;/*NEGRITA*/
    border: none;
    font-family: 'Montserrat';
    letter-spacing: 1.5px;/*ESPACIADO ENTRE LETRAS*/
    cursor:pointer;/*EL CURSOR CAMBIE CUANDO ESTE SOBRE EL*/    }  

  /*COLOR DE TRANSICION*/
  .boton_donar:hover{
  background: var(--secundario-oscuro); }
   
  /*RESPONSIVE DE MENU*/
  @media (max-width: 768px) {
    .nav-links {
      display: none; /* Oculta los enlaces en pantallas pequeñas */ }
    .kebab-icon {
      display: block; /* Muestra el icono kebab */}  
    .titulo_seccion h1 {
        font-size: 30px;
    }
    .titulo_seccion p {
        font-size: 16px;
    }}
  

    /* FOOTER */
  footer {
  background: var(--gris-oscuro);
  color: white;
  padding: 40px;
  text-align: center;    }
  
  .boton_footer{
  margin-top: 50px;
  background: var(--primario);
  color: white;
  padding: 15px 35px;
  border: none;
  border-radius: 50px; /* Botón redondeado tipo ONG */
  font-weight: bold;
  cursor: pointer;}

  .boton_footer:hover {
  background: var( --gris-medio-transparente);    }


/*TITULO*/
.titulo_seccion {
    text-align: center;
    padding: 60px 20px 20px 20px;
    background-color: var(--blanco); }

.titulo_seccion h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    color: var(--gris-oscuro);
    margin-bottom: 10px;
    text-transform: uppercase;/*PONER EN MAYUSCULA*/
    letter-spacing: 1px;}

.titulo_seccion p {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: var(--gris-medio);
    max-width: 600px;
    margin: 0 auto 20px auto; /* Centra el párrafo */}

/* Línea decorativa debajo del título */
.linea_decorativa {
    width: 80px;
    height: 4px;
    background-color: var(--acento);
    margin: 0 auto;
    border-radius: 2px;}

/*LO DIFERENTE */  

/*GENERICO CONTENEDORES*/
  .contenedor { 
  max-width: 1100px; margin: auto; padding: 60px 20px; }

  .seccion-texto-imagen {
  display: flex;
  align-items: center;
  gap: 50px;}

  .columna-img { 
    flex: 1; }
  
  .columna-img img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 15px 15px 0px var(--primario); /* Cuadrado decorativo detrás */}


/*SECCION 2*/
  .columna-texto { 
    flex: 1; }

  .inversa { 
    flex-direction: row-reverse; } /* Invierte orden de imagen y texto */

  .columna-texto h2 { 
  color: var(--primario); font-family: 'Montserrat'; font-size: 32px; }

/*SECCION 3*/

  .fondo-gris { 
    background: #eee; 
    padding: 60px 0; }
    
  .grid-mision-vision { 
    display: grid; /* GRID PARA MISION Y VISION. divide en columnas */
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    gap: 30px; }

  .tarjeta-grande {
    background: var(--blanco);
    padding: 40px;
    border-radius: 15px;
    text-align: center;  }

/* VALORES */
.grid-valores {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  text-align: center;}

.valor-card img { width: 70px; margin-bottom: 15px; }

/* FOOTER */
footer {
  background: var(--gris-oscuro);
  color: white;
  padding: 30px;
  text-align: center;
}

/* RESPONSIVE: Ajustes para celulares */
@media (max-width: 768px) {
  .nav-links, .boton_donar { display: none; } /* Oculta menú normal */
  .kebab-icon { display: block; } /* Muestra el ☰ */
  .seccion-texto-imagen, .inversa { flex-direction: column; text-align: center; }
  .grid-mision-vision { grid-template-columns: 1fr; }
}


/*MODO DARK*/
/* Fondo General y Texto */
body.dark-mode {
    background-color: #121212 !important;
    color: var(--blanco) !important;}

/* Header y Nav */
body.dark-mode header {
    background-color: #1e1e1e !important;
    border-bottom: 2px solid #333 !important;}

body.dark-mode .nav-links a {
    color:var(--blanco) !important;}

body.dark-mode .titulo_seccion,
body.dark-mode .fondo-gris,
body.dark-mode .seccion-texto-imagen,
body.dark-mode .centrado_articulos {
    background-color: #121212 !important;
    color: var(--blanco)!important;}

/*Tarjetas de Misión, Visión y Valores */
body.dark-mode .tarjeta-grande, 
body.dark-mode .valor-card {
    background-color: #252525 !important;
    color: var(--blanco)!important;
    border: 1px solid #444 !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4) !important;}

/* Títulos */
body.dark-mode h1, 
body.dark-mode h2, 
body.dark-mode h3 {
    color: #82A6A2 !important; /* El verde de tu logo */}

/* Footer */
body.dark-mode footer {
    background-color: #000000 !important;
    border-top: 1px solid #333 !important;}

/* BOTON ESTILO */
.boton-modo {
    padding: 8px 15px;
    cursor: pointer;
    background-color: var(--primario);
    color:var(--blanco);
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat';}

.boton-modo:hover {
    background-color: var(--gris-medio-transparente);}

    /*UNIR BOTONES*/
    .botones-header {
    display: flex;
    align-items: center;
    gap: 10px; 
}